{{ define "Footer" }}
    <footer class="text-center py-3 mt-4" style="background-color: #FFCC80;">
      <p>&copy; 2024 日用品買い忘れ防止君</p>
    </footer>
    {{ template "Scripts" }}
  </body>
</html>
{{ end }}
