{{ define "Header" }}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日用品買い忘れ防止君</title>
  </head>
  <body>
    <h1>Golang Mysql Curd Example</h1>   
{{ end }}
