{{ define "Items" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered </h2>
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Priority</td>
        <td>StockStatus</td>
        <td>GroupID</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .ID }}</td>
        <td> {{ .Name }} </td>
        <td>{{ .Priority }} </td> 
        <td>{{ .StockStatus }} </td> 
        <td>{{ .GroupID }} </td>
        <td><a href="/show?id={{ .ID }}">View</a></td>
        <td><a href="/edit?id={{ .ID }}">Edit</a></td>
        <td><a href="/delete?id={{ .ID }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}
